---

---

<div class="text-white color-change-2x mt-10">
  <div class="grid grid-cols-3 justify-items-center pb-8 text-2xl text-center">
    <section>
      <p>Email</p>
      <p>ally0002@stud.kea.dk</p>
    </section>
    <section>
      <p>Telefon</p>
      <p>30495025</p>
    </section>
    <section>
      <p>Adresse</p>
      <p>København Ø</p>
    </section>
  </div>
</div>
