---
import Link from "./Link.astro";
---

<article class="max-w-10xl mx-auto md:pt-0">
  <section class="relative flex items-center justify-center min-h-2px">
    <div class="absolute inset-0 bg-[linear-gradient(to_right,rgba(0,0,0,0.2)_1px,transparent_1px),linear-gradient(to_bottom,rgba(0,0,0,0.2)_1px,transparent_1px)] bg-[size:40px_40px] pointer-events-none"></div>
    <section class="grid md:grid-cols-2 lg:mt-32">
      <div class="text-4xl p-8 grid content-center">
        <p class="pb-8 animate-pulse font-Rock Salt font-bold font-display">ALBERTE LYNGLEV</p>
        <p class="mb-8 text-2xl">Multimediedesigner/digital designer</p>
        <span class="hover:animate-bounce"><Link variant="primary" size="small" href="https://www.linkedin.com/in/alberte-lynglev-b0011b257/">Se min LinkedIn profil</Link></span>
      </div>
      <div class="overflow-auto">
        <div class="card bg-base-100 w-96 shadow-sm border-[#7adaeb] border-2">
          <figure class="px-10 pt-10">
            <img class="blink-2" src="/profilbillede.jpg" alt="borups" alt="Shoes" class="rounded-xl" />
          </figure>
          <div class="card-body items-center text-center"></div>
        </div>
      </div>
    </section>
  </section>
</article>
