---
import Link from "./Link.astro";
---

<article class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px] md:pt-0">
  <section class="grid md:grid-cols-2 lg:mt-32">
    <div class="text-4xl p-8 grid content-center">
      <p class="pb-8 animate-pulse font-Rock Salt">Alberte Lynglev</p>
      <p class="mb-8 text-2xl">multimediedesigner/digital designer</p>
      <span class="hover:animate-bounce"><Link variant="primary" size="small" href="https://www.linkedin.com/in/alberte-lynglev-b0011b257/">Se min LinkedIn profil</Link></span>
    </div>
    <div class="overflow-auto">
      <img src="/musik1.jpg" alt="musik som levevej" class="hover:scale-120 duration-1000" />
    </div>
  </section>
</article>
