---
import Link from "./Link.astro";
---

<article class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px] md:pt-0">
  <section class="grid md:grid-cols-2 lg:mt-32">
    <div class="text-4xl p-8 grid content-center">
      <p class="pb-8 animate-pulse font-Rock Salt">Alberte Lynglev</p>
      <p class="mb-8 text-2xl">Multimediedesigner/digital designer</p>
      <span class="hover:animate-bounce"><Link variant="primary" size="small" href="https://www.linkedin.com/in/alberte-lynglev-b0011b257/">Se min LinkedIn profil</Link></span>
    </div>
    <div class="overflow-auto">
      <img src="/musik1.jpg" alt="musik som levevej" class="hover:scale-120 duration-1000" />
    </div>
  </section>
</article>

<article id="hvemerjeg" class="md:px-[40px] lg:px-[300px] md:pt-0 border-2 border-black">
  <section class="grid md:grid-cols-1 lg:mt-10">
    <div class="text-1xl p-8 grid content-center">
      <p class="pb-8 text-2xl animate-pulse text-black text-center">Hjemmesider jeg har været med til at designe og kode</p>
      <p class="mb-8 text-sm text-black">
        <li>
          <ul>
            <a class="underline underline-offset-1 text-black" href="https://jeppewahlstrom.netlify.app/">Jeppe Wahlstrom</a>
          </ul>
        </li>
        <li>
          <ul>
            <a class="underline underline-offset-1 text-black" href="https://glittering-syrniki-3a056a.netlify.app/">Kidsaid</a>
          </ul>
        </li>
        <li>
          <ul>
            <a class="underline underline-offset-1 text-black" href="https://albelynglev.dk/kea/06_portfolio/">Portfolio</a>
          </ul>
        </li>
        <li>
          <ul>
            <a class="underline underline-offset-1 text-black" href=" https://albelynglev.dk/kea/03_ux/01_kodet_site/">Rejseguide til Australien</a>
          </ul>
        </li>
        <li>
          <ul>
            <a class="underline underline-offset-1 text-black" href="https://albelynglev.dk/kea/05_indhold/Bartels_site/">Bartels</a>
          </ul>
        </li>
        <li>
          <ul>
            <a class="underline underline-offset-1 text-black" href="https://albelynglev.dk/kea/04_animation/website/spil.html">Computer spil</a>
          </ul>
        </li>
      </p>
    </div>
  </section>
</article>
