<article id="hvemerjeg" class="md:px-[40px] lg:px-[300px] md:pt-0 bg-[#2F2B36]">
  <section class="grid md:grid-cols-1 lg:mt-32">
    <div class="text-4xl p-8 grid content-center">
      <p class="pb-8 animate-pulse text-[#F2F0E4] text-center">Hvem er jeg?</p>
      <p class="mb-8 text-sm text-[#F2F0E4]">Hej jeg hedder Alberte og jeg elsker alt der har med det visuelle at gøre. Jeg startede med at forelske mig i grafisk design da jeg gik på højskole hvor vi havde frie rammer til at udforske vores kreativitet. Jeg har længe ønsket at arbejde indefor kunstverdne, tryk, print, designemballage.</p>
    </div>
  </section>
  
</article>


