<article id="hvemerjeg" class="md:px-[40px] lg:px-[300px] md:pt-0 bg-[#2F2B36]">
  <section class="grid md:grid-cols-1 lg:mt-15">
    <div class="text-4xl p-8 grid content-center">
      <p class="pb-8 text-white font-bold font-display">HVEM ER JEG?</p>
      <p class="mb-8 text-lg text-white">Hej jeg hedder Alberte Lynglev, jeg er 24 år og jeg er fascineret af alt der har med det visuelle at gøre. Jeg startede med at interreserer mig i grafisk design da jeg gik på højskole hvor vi havde frie rammer til at udforske vores kreativitet. Jeg har længe ønsket at arbejde indenfor kunstverdenen, tryk, print og design/designemballage. Jeg ønsker at opnå en større viden om multimediedesign og blive bedre til at skabe en designprofil til en given kunde og i sidste ende imødekomme kundens ønsker.</p>
    </div>
  </section>
  <section class="grid sm:grid-cols-4 lg:grid-cols-3 gap-20 p-12">
    <div class="">
      <li class="text-white">
        <ul><p class="text-[#7adaeb] font-bold">Læringsmål for praktikken:</p></ul>
        <ul>Designkoncepter og brandidentitet</ul>
        <ul>Designprincipper</ul>
        <ul>Responsive web design</ul>
        <ul>UI og UX</ul>
        <ul>Marketing</ul>
        <ul>Adobeprogrammerne</ul>
      </li>
    </div>
    <div class="">
      <li class="text-white">
        <ul><p class="text-[#7adaeb] font-bold">Erfaring:</p></ul>
        <ul>Uddannelse se nedenfor</ul>
        <ul>Rengøring</ul>
        <ul>Børnepasning</ul>
        <ul>Frivillig på Aisound</ul>
      </li>
    </div>
    <div class="">
      <li class="text-white">
        <ul><p class="text-[#7adaeb] font-bold">Personlige kompetencer:</p></ul>
        <ul>Samarbejdsvillig</ul>
        <ul>Selvbevidst</ul>
        <ul>Empatisk</ul>
        <ul>Kommunikativ</ul>
        <ul>Opmærksom på detaljerne</ul>
        <ul>Brugerorienteret</ul>
      </li>
    </div>
  </section>
</article>
