<section class="grid grid-cols-3 md:grid-cols-3 bg-[#FFFFFF] border-2 border-black lg:mt-32">
  <div class="pb-8 pt-8 justify-end">
    <img class="align-center" src="/stjerne.svg" alt="stjerne" />
  </div>
  <div class="flex flex-col justify-start blink-2">
    <p class="pb-8 pt-8 animate-pulse text-center text-3xl text-black">Kompetencer</p>
  </div>
  <div class="pb-8 pt-8">
    <img src="/stjerne.svg" alt="stjerne" />
  </div>
</section>
