<section class="grid grid-cols-3 md:grid-cols-1 bg-[#FFFFFF] border-2 border-[#7adaeb] lg:mt-32 text-center">
  <div class="flex flex-col justify-start blink-2">
    <p class="pb-3 pt-3 animate-pulse text-center text-3xl text-black font-bold font-display">FAGLIGE KOMPETENCER</p>
  </div>
</section>
