<article id="kompetencer" class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px] md:pt-0 justify-center">
  <section class="grid md:grid-cols-4 lg:mt-10">
    <div>
      <div class="flex flex-col card bg-base-100 w-40 shadow-sm border-[#7adaeb] border-2">
        <figure class="px-10 pt-10">
          <img class="size-12" src="/ailogo.svg" alt="logo" />
        </figure>
        <div class="card-body items-center text-center font-bold">
          <p>Illustrator</p>
        </div>
      </div>
    </div>
    <div class="text-1xl p-8 grid content-center col-span-2">
      <p class="text-sm">Jeg blev introduceret til Illustrator på Johan Borups Højskole. Illustrator er for mig et nemt tegne redskab, der ved brug af vektorgrafik sikrer at grafikken passer optimalt til forskellige størrelser. Det er et redskab, der er sjovt at eksperimentere med, da der er mange måde at anvende filtre, mønstre, farver og effekter på. Vi har på KEA designet grafik til et spil helt fra bunden. Her skulle vi forholde os til UI-elementer, figurelementerne, valg af stilart, farvekontrast og dimension i baggrunden. Jeg har desuden brugt Illustrator til at lave infografik.</p>
    </div>
    <div class="">
      <div class="text-[#7adaeb] font-bold"><a href="https://albelynglev.dk/kea/04_animation/website/spil.html">ANIMATIONSSPIL</a></div>
      <li><a class="underline underline-offset-1 hover:bg-[#7adaeb]" href="https://albelynglev.dk/kea/04_animation/website/spil.html">https://albelynglev.dk/kea/04_animation/website/spil.html</a></li>
    </div>
  </section>

  <section class="grid md:grid-cols-4 lg:mt-10">
    <div class="flex flex-col card bg-base-100 w-40 shadow-sm border-[#7adaeb] border-2">
      <figure class="px-10 pt-10">
        <img class="size-12" src="/figma.svg" alt="logo" />
      </figure>
      <div class="card-body items-center text-center font-bold">
        <p>Figma</p>
      </div>
    </div>

    <div class="text-1xl p-8 grid content-center col-span-2">
      <p class="text-sm text-red-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eligendi nulla dolorem et odio adipisci deserunt maiores eaque minima, laboriosam dolores asperiores, quos, porro perferendis eius eum natus? Corrupti, laborum.</p>
    </div>
    <div class="">
      <p class="text-1xl text-[#7adaeb] font-bold">PROJEKTER UDARBEJDET I FIGMA</p>
      <li>
        <a class="underline underline-offset-1 hover:bg-[#7adaeb]" href="https://www.figma.com/design/qhhsi1knWWqAhaxAXJRbOT/Wfi%2FHifi-prototype?node-id=0-1&t=YiSec7z9ROEhHBSP-1">Eksamensprojekt 1.semester</a>
      </li>
      <li><a class="underline underline-offset-1 hover:bg-[#7adaeb]" href="https://www.figma.com/design/PA6qnXyiwWgAg97bPeKela/Eksamensprojekt?node-id=31-75&t=3zfQ9ASjQr2qziSr-1">Eksamensprojekt 2.semester</a></li>
      <li><a class="underline underline-offset-1 hover:bg-[#7adaeb]" href="https://www.figma.com/design/v8YHg3ppwYOSwZ3WsQ06x9/Case-opgave?node-id=159-144&t=DXZ9ovzWfprN4GU8-1">Karrusel festival</a></li>
      <li><a class="underline underline-offset-1 hover:bg-[#7adaeb]" href="https://www.figma.com/design/o4OnRgkObwXX6ICM8JGEOl/Emnesite%3A-Design?node-id=0-1&t=2kywiTCmw3GjSJ73-1">Emnesite</a></li>
    </div>
  </section>

  <section class="grid md:grid-cols-4 lg:mt-10">
    <div class="flex flex-col card bg-base-100 w-40 shadow-sm border-[#7adaeb] border-2">
      <figure class="px-10 pt-10">
        <img class="size-12" src="/indesign.svg" alt="logo" />
      </figure>
      <div class="card-body items-center text-center font-bold">
        <p>InDesign</p>
      </div>
    </div>
    <div class="text-1xl p-8 grid content-center col-span-2">
      <p class="text-sm">Jeg har på KEA brugt InDesign til at opsætte mine rapporter. For mig er den en smart og overskuelig måde at opstille mit layout på.</p>
    </div>
  </section>

  <section class="grid md:grid-cols-4 lg:mt-10">
    <div class="flex flex-col card bg-base-100 w-40 shadow-sm border-[#7adaeb] border-2">
      <figure class="px-10 pt-10">
        <img class="size-12 border-amber-50" src="/premierepro.svg" alt="logo" />
      </figure>
      <div class="card-body items-center text-center font-bold">
        <p>Premiere pro</p>
      </div>
    </div>
    <div class="text-1xl p-8 grid content-center col-span-2">
      <p class="text-xs">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eligendi nulla dolorem et odio adipisci deserunt maiores eaque minima, laboriosam dolores asperiores, quos, porro perferendis eius eum natus? Corrupti, laborum.</p>
    </div>
    <div class="text-1xl p-8 grid content-center">
      <p class="text-xs">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eligendi nulla dolorem et odio adipisci deserunt maiores eaque minima, laboriosam dolores asperiores, quos, porro perferendis eius eum natus? Corrupti, laborum.</p>
    </div>
  </section>

  
  
  <section class="grid md:grid-cols-6 lg:mt-10">
    <div class="flex flex-col card bg-base-100 w-40 shadow-sm border-[#7adaeb] border-2">
      <figure class="px-10 pt-10">
        <img class="size-12" src="/pslogo.svg" alt="logo" />
      </figure>
      <div class="card-body items-center text-center font-bold">
        <p>Photoshop</p>
      </div>
    </div>

    <div>
      <p>Jeg har anvendt Photoshop som øvelse til at lave logoer, illustrationer af 3-D tegninger og grafik.</p>
    </div>

    <div class="flex flex-col justify-start size-25">
      <img src="/photoshop.jpg" alt="billede" />
    </div>
    <div class="flex flex-col justify-start size-25">
      <img src="/photoshop2.png" alt="billede" />
    </div>
    <div class="flex flex-col justify-start size-34">
      <img src="/photoshop3.png" alt="billede" />
    </div>
    <div class="flex flex-col justify-start size-35">
      <img src="/photoshop4.png" alt="billede" />
    </div>
  </section>
  <section class="grid md:grid-cols-5 lg:mt-10">
    <div class="flex flex-col card bg-base-100 w-40 shadow-sm border-[#7adaeb] border-2">
      <figure class="px-10 pt-10">
        <img class="size-12 border-amber-50" src="/canva.svg" alt="logo" />
      </figure>
      <div class="card-body items-center text-center font-bold">
        <p>Canva</p>
      </div>
    </div>
    <div class="p-8 grid content-center col-span-2">
      <p class="text-sm">Jeg bruger Canva meget, både som inspirationskilde, men også til at skabe mit eget design. Canva er et værktøj der hjælper mig med at visualisere en ide inden jeg starter designprocessen. Jeg bruger programmet til at lave moodboards og den kan være meget behjælpelige med farver. Jeg finder også inspiration fra hvad andre har lavet feks logoer, grafik, video osv.</p>
    </div>
    <div class="text-1xl p-8 grid content-center">
      <img src="/canvaeks.png" alt="billede" />
    </div>
    <div>
      <h1 class="text-[#7adaeb] font-bold">DESIGN LAVET I CANVA</h1>
      <img src="/ekscanva.png" alt="billede" />
    </div>
  </section>
</article>
