<article id="kompetencer" class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px] md:pt-0 justify-center">
  <section class="grid md:grid-cols-4 lg:mt-10">
    <div>
      <img class="size-12" src="/ailogo.svg" alt="logo" />
    </div>
    <div class="text-1xl p-8 grid content-center">
      <p class="text-xs">Jeg har arbejdet med illustrator til redesign af logo, infografik og til design af animeret computerspil</p>
      <a href="https://albelynglev.dk/kea/04_animation/website/spil.html">Animationsspil</a>
      <div class="text-sm underline underline-offset-1"><a href="https://albelynglev.dk/kea/04_animation/website/spil.html">https://albelynglev.dk/kea/04_animation/website/spil.html</a></div>
    </div>
  </section>
  <img src="/Line.jpg" alt="linje" />

  <img src="/Line.jpg" alt="linje" />
  <section class="grid md:grid-cols-4 lg:mt-10">
    <div>
      <img class="size-12" src="/figma.svg" alt="logo" />
    </div>
    <div class="text-1l p-8 grid content-center">
      <p class="text-xs">Projektet jeg har lavet i Figma</p>
      <a class="underline underline-offset-1" href="https://www.figma.com/design/qhhsi1knWWqAhaxAXJRbOT/Wfi%2FHifi-prototype?node-id=0-1&t=YiSec7z9ROEhHBSP-1">Eksamensprojekt 1.semester</a>
      <a class="underline underline-offset-1" href="https://www.figma.com/design/PA6qnXyiwWgAg97bPeKela/Eksamensprojekt?node-id=31-75&t=3zfQ9ASjQr2qziSr-1">Eksamensprojekt 2.semester</a>
      <a class="underline underline-offset-1" href="https://www.figma.com/design/v8YHg3ppwYOSwZ3WsQ06x9/Case-opgave?node-id=159-144&t=DXZ9ovzWfprN4GU8-1">Karrusel festival</a>
      <a class="underline underline-offset-1" href="https://www.figma.com/design/o4OnRgkObwXX6ICM8JGEOl/Emnesite%3A-Design?node-id=0-1&t=2kywiTCmw3GjSJ73-1">Emnesite</a>
    </div>
    <div class="p-8 grid content-center">
      <p class="text-xs">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eligendi nulla dolorem et odio adipisci deserunt maiores eaque minima, laboriosam dolores asperiores, quos, porro perferendis eius eum natus? Corrupti, laborum.</p>
    </div>
  </section>

  <img src="/Line.jpg" alt="linje" />

  <section class="grid md:grid-cols-4 lg:mt-10">
    <div>
      <img class="size-12" src="/indesign.svg" alt="logo" />
    </div>
    <div class="p-8 grid content-center">
      <p class="text-xs">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eligendi nulla dolorem et odio adipisci deserunt maiores eaque minima, laboriosam dolores asperiores, quos, porro perferendis eius eum natus? Corrupti, laborum.</p>
    </div>
  </section>

  <img src="/Line.jpg" alt="linje" />
  <section class="grid md:grid-cols-4 lg:mt-10">
    <div>
      <img class="size-12 border-amber-50" src="/premierepro.svg" alt="logo" />
    </div>
    <div class="text-1xl p-8 grid content-center">
      <p class="text-xs">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eligendi nulla dolorem et odio adipisci deserunt maiores eaque minima, laboriosam dolores asperiores, quos, porro perferendis eius eum natus? Corrupti, laborum.</p>
    </div>
    <div class="text-1xl p-8 grid content-center">
    </div>
  </section>
  <img src="/Line.jpg" alt="linje" />
  <section class="grid md:grid-cols-6 lg:mt-10">
    <div class="text-1xl p-8 grid content-center">
      <img class="size-12" src="/pslogo.svg" alt="logo" />
    </div>
    <div class="flex flex-col justify-start size-25">
      <img src="/photoshop2.png" alt="billede" />
    </div>
    <div class="flex flex-col justify-start size-25">
      <img src="/photoshop.jpg" alt="billede" />
    </div>
    <div class="flex flex-col justify-start size-34">
      <img src="/photoshop3.png" alt="billede" />
    </div>
    <div class="flex flex-col justify-start size-35">
      <img src="/photoshop4.png" alt="billede" />
    </div>
  </section>
</article>
