<article class="md:px-[40px] lg:px-[100px] md:pt-0">
  <section class="grid md:grid-cols-3 lg:mt-32">
    <div class="text-1xl p-8 grid content-center">
      <img src="/logo.jpg" class="size-30" alt="borups" />
      <p class="text-white">Designlinjen - 2022</p>
    </div>
    <div class="text-1xl p-8 grid content-center">
      <img src="/ucn.png" class="" alt="borups" />
      <p class="text-white">UCN - 1. semester Markedsføringsøkonom 2023</p>
    </div>
    <div class="text-1xl p-8 grid content-center">
      <div>
        <img src="/kea.jpg" class="size-30" alt="borups" />
      </div>

      <div>
        <p class="text-white">KEA - Multimediedesign 2024-</p>
      </div>
    </div>
  </section>
</article>
